* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #121214;
  --bg-primary-light: hsla(194, 100%, 63%, 0.13);
  --primary-color: #42d3ff;
  --text-color: #ffffff;

  font-size: 62.5%;
}
 
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: grid;
}

main {
  justify-self: center;
  align-self: end;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.timer {
  font-size: clamp(4rem, 4rem + 12vw, 8.8rem);
  display: flex;
  margin-bottom: 1.6rem;
}

.controls {
  background-color: var(--bg-primary-light);
  display: flex;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  width: clamp(2rem, 10rem + 30vw, 22.8rem);
  height: clamp(2rem, 5rem + 8vw, 10.8rem);
}

button svg {
  width: clamp(3.2rem, 4rem + 12vw, 8.4rem);
}

.hide {
  display: none;
}

footer {
  justify-self: end;
  align-self: end;

  padding: 0 3rem 3.2rem 0;
}
