* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 960px;
  height: 100px;
}

.box1 {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 96px;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin: 96px;
}
